@media screen and (min-width: 480px) {
    body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    }
  

 

/*--------------Header CSS-----------------*/
#header{
    height: 100vh;
    background: url(images/office12.jpeg), linear-gradient(#000, #d13531);   
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#header h1{
    text-align: center;
    text-shadow: 5px 4px 2px black;            
}

#header p{
    text-align: center;
    text-shadow: 5px 4px 2px black;    
}

.user-box{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.user-box img{
    border-radius: 50%;
    width: 250px;
    border: 2px solid #6caed5;
}

.user-box img{
    filter: grayscale(1);
   }
   .user-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
   }
 .user-box h1{
     color: #fff;
     font-weight: bold; 
     margin: 10px;
 }
 .user-box p{
     color: #fff;
 }

 .scroll-btn{
    bottom: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid blue;
    padding: 10px 10px 20px;
    border-radius: 30px;
}
.scroll-bar span{
    border: 2px solid blue;
    font-size: 10px;
    border-radius: 30px;
}
.scroll-bar{
    animation: mover 1s infinite alternate; 
}

@keyframes mover 
{
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}
}

 

/*--------------About--------------*/
.about{
    padding-top: 100px;
    margin-bottom: -130px;
}
.profile-img{
    height: 330px;
    width: 300px;
    border: 10px solid rgb(78, 161, 230);
    border-radius: 50%;
}

h3{
    text-align: center;
    color: #eb01a5;
    font-size: 27px;
    text-shadow: 9px 3px 3px #000;
}


.top-nav{
    background: black;
    top: 0;
    position: sticky;
    z-index: 2;
    float: right;
    width: none;
     
}

.top-nav a{
    text-decoration: none;
    font-size: 27px;
    padding: 16px 10px;
    color: cornsilk;
    text-shadow: 5px 3px 2px rgb(219, 14, 82);
    
}



.skills-bar p{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress{
    border-radius: 16px !important;
    margin-bottom: 10px;
}
.progress-bar{
    border-radius: 16px;
    background: #000 !important;  
}

/*--------------Resume-------------*/
.resume{
    margin-top: -50px;
    padding-top: 50px;
    padding-bottom: 30px;
    background: #f9f9f9;
}
.resume h3{
    margin-bottom: 50px;
}
.timeline{
    list-style-type: none;
    position: relative;
}
.timeline:before{
    content: '';
    background: #555;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}
.timeline li{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #fff;
}
.timeline li h4{
    background-color: #000;
    padding: 5px 0 5px 20px;
    color: #fff;
    font-size: 15px;
}
.timeline li h4 span{
    font-weight: bold;
    color: #ccc;
}
.timeline li:before{
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}


/*-----contact----*/

.contact#contact{
    background-image: url("IMAGE_URL"), linear-gradient(#eb01a5, #d13531);   

}

.contact#contact h1{
    color: #f9f9f9;
    text-align: center;
    text-shadow: 12px 6px 3px black;
    font-family:  Roboto;
}

.contact#contact p{
    text-align:center;
    

}