body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*--------------Header CSS-----------------*/
#header{
    height: 100vh;
    background-image: url("IMAGE_URL"), linear-gradient(#eb01a5, #d13531);      
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.user-box{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.user-box img{
    border-radius: 50%;
    width: 250px;
    border: 2px solid #6caed5;
}

.user-box img{
    filter: grayscale(1);
   }
   .user-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
   }
 .user-box h1{
     color: #fff;
     font-weight: bold; 
     margin: 10px;
 }
 .user-box p{
     color: #fff;
 }

 .scroll-btn{
    bottom: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid blue;
    padding: 10px 10px 20px;
    border-radius: 30px;
}
.scroll-bar span{
    border: 2px solid blue;
    font-size: 10px;
    border-radius: 30px;
}
.scroll-bar{
    animation: mover 1s infinite alternate; 
}

@keyframes mover 
{
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}
}

/*--------------About--------------*/
.about{
    padding-top: 100px;
    margin-bottom: -130px;
}
.profile-img{
    height: 330px;
    width: 300px;
    border: 10px solid rgb(78, 161, 230);
    border-radius: 50%;
}


.top-nav{
    top: 0;
    position: sticky;
    z-index: 2;
    float: right;
     
}

.top-nav a{
    text-decoration: none;
    font-size: x-large;
    padding: 16px 10px;
}